* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-header {
    background-color: skyblue;

}

.main-header .__title {
    color: blue;
    margin-bottom: 20px;
}

.__nav ul {
    display: inline-block;

    
}

.__nav a:hover {
    color: green;
}

.__nav a {
    text-decoration: none;
    color: white;
}